<!-- src/templates/partials/header.ejs -->
<div class="nav-left">
  <a href="/shop" class="nav-link">Shop</a>
  <a href="/admin" class="nav-link">Admin</a>
  <a href="https://github.com/YourUser/YourRepo" class="nav-link" target="_blank">
    GitHub
  </a>
</div>
<div class="nav-right">
  <button id="checkoutButton" class="checkout-btn">
    Checkout <span id="cartCount">0</span>
  </button>
</div>
