<div class="nav-left">
    <a href="/shop">Shop</a>
  </div>
  <div class="nav-center">
    <!-- Temporarily commenting out the logo image -->
    <!-- <img src="/assets/images/logo.png" alt="Site Logo" class="site-logo"> -->
  </div>
  <div class="nav-right">
    <!-- Future navigation items -->
  </div>